--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, login, display_name, profile_image_url, is_live, category, title, created_at) FROM stdin;
1192508926	greencoldpress	greencoldpress	https://static-cdn.jtvnw.net/user-default-pictures-uv/ebb84563-db81-4b9c-8940-64ed33ccfc7b-profile_image-300x300.png	f	\N	\N	2024-11-15 01:49:44.309403-08
174920397	electi0n	electi0n	https://static-cdn.jtvnw.net/jtv_user_pictures/8e2a666d-2337-4f33-bcbd-cf1965508f8d-profile_image-300x300.png	f	Music	LMAOOOOOOOOOO	2024-11-11 11:02:08.327391-08
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: requests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: request_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- PostgreSQL database dump complete
--

